<app-header></app-header>
<div class="p-3">
    <div class="flex p-2">
        <div class="flex-initial flex align-items-center">Category</div>
        <div class="ml-auto "><p-button (click)="showDialog()" icon="pi pi-plus" label="add"></p-button></div>
    </div>
    <div class="p-2">
        <div class="card">
            <p-toast class="top-right"></p-toast>
            <p-table [value]="catlist" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th style="width: 5rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.parentId }}</td>
                        <td>
                            <div class="flex gap-3">
                                <p-button icon="pi pi-pencil" (click)="selectProduct(product)"
                                    styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
                                <p-button icon="pi pi-times" (click)="selectProduct(product)"
                                    styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>



</div>
<p-dialog header="Product" [(visible)]="visible" [style]="{width: '50vw'}">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
    </p>
</p-dialog>